<div class="container mt-5">
  <%= link_to 'Back to Properties', properties_path, class: 'btn btn-success float-end' %>
  <h1 class="mb-4">All Users</h1>

  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item">
        <%= link_to user.name, user, class: 'text-decoration-none' %>
      </li>
    <% end %>
  </ul>
</div>
